/* Theme */
.bg-c{background-color: black;}
.main-btn{background: linear-gradient(to right, #FDEB45, #FFC107); padding: 8px 20px; border-radius: 10px; border: none; color:black; font-weight: bold;}
.main-text{background: linear-gradient(to right, #FDEB45, #FFC107);  -webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.secondary-text{color: #d1d1d1;}

.main-logo{width: 60px;}
.home-title{margin-top: 20%; font-weight: bold; font-size: 50px;}
.reward-img{width: 150px; display: block; margin: auto;}
.area2{margin-top: 50px; background-color: rgb(41, 41, 41);}
.area2-content{margin-top: 20px; margin-bottom: 10px; padding-top: 50px; padding-bottom: 50px;}
.img-are3{display: block; margin: auto; width: 250px;}
.img-border{border-radius: 10px; margin-top: 10px;}
.bg-c{background-color: black;}
.row-magin{margin-top: 200px;}

