.main-logo{width: 60px;}
.home-title{margin-top: 20%; font-weight: bold; font-size: 50px;}
.reward-img{width: 150px; display: block; margin: auto;}
.area2{margin-top: 50px; background-color: rgb(112, 112, 112);}
.area2-content{margin-top: 20px; margin-bottom: 10px; padding-top: 50px; padding-bottom: 50px;}
.img-are3{display: block; margin: auto; width: 250px;}